.contacts {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  &__link {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.05rem;
  }
  &__order-call {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.3125rem;
  }
}
